//@import "~bootstrap/scss/bootstrap.scss";
#trafficTop{
    background-color: black;
    width: 10px;
    height: 165px;
    margin-left: 82px;
}
#container{
    background-color: black;
    width: 56px;
    height: 178px;
    margin-left: 50px;
    padding: 10px;
}
.light{
    width:50px;
    height: 50px;
    margin:auto;
    border-radius: 50px;
    padding: 4px;
    cursor:pointer;
    &.red{background-color: red;}
    &.yellow{background-color: yellow;}
    &.green{background-color:green;}
}
 .selected{box-shadow:#fff 0px 0px 40px 20px;}

// propiedad pointer 
// shadow sombra